@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

li {
    background   : burlywood;
    border-radius: 5px;
    cursor       : pointer;
    display      : inline-block;
    font-weight  : 600;
    padding      : 5px 10px;
}

p,
ul {
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 0px;
    text-align  : center;
}

.tema_produto {
    color      : white;
    cursor     : default;
    font-family: 'Comforter', cursive;
    font-size  : 50px;
    padding    : 25px 0px 0px 0px;
    text-align : center;
    text-shadow: 0px 0px 10px black;
}

body {
    background     : no-repeat center url("https://image.freepik.com/free-photo/rustic-brick-wall-background_53876-92955.jpg");
    background-size: cover;
}
